name: "Create Image"

on:
  pull_request:
    branches:
      - main
      
env:
  JFROG_USER: ${{ secrets.JFROG_USER }}
  JFROG_PASSWORD: ${{ secrets.JFROG_PASSWORD }}     
      
jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Push
    runs-on: ubuntu-latest 
    
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    # Login to Jfrog
    - name: Jfrog login
#       env:
#         JFROG_USER: ${{ secrets.JFROG_USER }}
#         JFROG_PASSWORD: ${{ secrets.JFROG_PASSWORD }}
      run: |
          docker login sreyo.jfrog.io -u $JFROG_USER -p $JFROG_PASSWORD
          #kubectl create secret generic jfrog-secret --from-file=.dockerconfigjson=.docker/config.json  --type=kubernetes.io/dockerconfigjson
          #kubectl create secret generic jfrog-secret --from-file=.dockerconfigjson=/home/runner/.docker/config.json  --type=kubernetes.io/dockerconfigjson
    
    # Build the Docker image
    - name: Build docker image
      run: |-
        docker build ./authentication  -t  sreyo.jfrog.io/ns-docker-dev-local/login-docker:latest
        docker build ./welcome -t  sreyo.jfrog.io/ns-docker-dev-local/list-docker
#         docker push sreyo.jfrog.io/ns-docker-dev-local/login-docker
#         docker push sreyo.jfrog.io/ns-docker-dev-local/list-docker  

    - name: Set up JFrog CLI
      uses: jfrog/setup-jfrog-cli@v1

    - name: Configure JFrog CLI 
      run: |
        jfrog config add --interactive=false --enc-password=true --artifactory-url=https://sreyo.jfrog.io/ --username=$JFROG_USER --password=JFROG_PASSWORD
    - name: Push Docker image to JFrog Artifactory
      run: |
        jfrog rt docker-push sreyo.jfrog.io/ns-docker-dev-local/login-docker

